body {
    background-image: url('/home/bryan/Desktop/CRUD/ttt.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table {
    width: 80%;
    margin: 40px auto;
    background: lightgreen;
}

table.list {
    text-align: center;
    width: 100%;
}

td {
    border: 1px solid rgb(100, 70, 25);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even),
table.list thread > tr {
    background-color: aqua;
}

input[type="text"],
input[type="number"] {
    width: 91%;
    padding: 12px 20px;
    margin: 25px 0;
    display: inline-block;
    border: 1px solid rgb(50, 20, 30);
    border-radius: 4px;
}

input[type="submit"],
input[type="reset"] {
    background: #eee;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background: #4b998d;
}

button {
    background: #eee;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover {
    background: #4b998d;
}
